apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

metadata:
  name: test
  region: {{ awsRegion }}

vpcId: {{ awsLookupvpc "chewy:cost_center/plat"}}

vpc:
  subnets:
    private:
      {{ awsLookupSubnets "chewy:cost_center/plat"}}
      
managedNodeGroups:
  - name: managed-ng-1
    minSize: 2
    maxSize: 4
    desiredCapacity: 3
    volumeSize: 20
